* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background: bisque;
}

canvas {
    margin-top: 30px;
}

.flx {
    display: flex;
}

.ctr {
    justify-content: center;
}

.kotak {
    padding: 60px;
}

.kotak h3 {
    border-bottom: 6px solid;
}

.kotak ul {
    padding: 10px 20px;
}

.kotak ul li {
    font-size: 15px;
    color: rgb(63, 63, 63);
    /* text-transform: uppercase; */
}

.kotak img {
    width: 15px;
    height: 15px;
}

button {
    width: 115px;
    height: 25px;
    background: #6464ff;
    border-radius: 10px;
    font: normal 15px/25px 'arial';
    font-weight: 700;
    letter-spacing: 0;
    color: white;
    border: none;
    text-align: center;

    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #6464ff;
    opacity: 0.8;
    color: white;
}

button:active {
    transform: translateY(4px);
}